.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  position: absolute;
  top: 15px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 10px;
  color: white;
  position: relative;
}

.App-intro {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
}

.App-intro .main {
  padding-top: 10px;
}

.App-intro > div {
  min-width: 200px;
  flex-grow: 1;
}

.appHeaderLinks {
  position: absolute;
  right: 20px;
}

.App-header h2 {
  opacity: 0.3;
}

.appHeaderLinks a {
  color: red;
  font-size: small;
  cursor: pointer;
  margin: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  display: block;
}

.disabled {
  color: gray;
}

.box {
  padding: 10px;
}

.box div {
  padding-top: 10px;
}

.buttonRowTitle {
  display: inline-block;
  margin-right: 10px;
}

.buttonRow {
  padding-top: 10px;
}


.currentTime {
  float: left;
  cursor: pointer;
  user-select: none;
  min-width: 0;
  width: 0;
}

.error {
  color: red;
}

.boyimage {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.boyimage .background img {
  object-fit: fill;
}

.boyimage .foreground {
  padding-top: 30px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.boyimage .background, .boyimage .foreground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.boyimage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  user-select: none;
}

.boyimage .foreground:hover {
  transform: scale(2) translate(0px, 100px);
}

.boyimage .subtitle {
  color: white;
  font-size: xx-large;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #00000066;
}

.finishedButton button {
  color: red;
  font: bolder;
  outline: red;
  border: 3px solid red;
  cursor: pointer;
}

.storyText {
  text-align: left;
  padding: 40px;
}

.activateButton {
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
}

.notActivated .activateButton {
  background: lawngreen;
}

.greenButton {
  background: lawngreen;
}

.App-header {
  transition: opacity 0.5s ease-in-out;
}

.main * {
  transition: opacity 0.5s ease-in-out 1s;
}

.notActivated .App-header,
.notActivated .main * {
  opacity: 0;
}

.buttonStatusText {
  display: inline-block;
  width: 0;
  min-width: 0;
}

.storyText {
  background-image: url('/paper.png');
  background-origin: content-box;
  background-repeat: repeat;
  min-height: 100vh;
  box-sizing: border-box;
}

button.storyTextContinue {
  margin-left: 20px;
  margin-top: 20px;
  font-size: medium;
  font-weight: bold;
  color: brown;
}

button.storyTextRestart {
  margin-left: 20px;
  margin-top: 20px;
  font-size: medium;
  font-weight: bold;
  color: red;
}
